body {
    font-family: sans-serif;
}
main {
    text-align: center;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 128, 0);
}
h1::after,h1::before {
    content: "";
    background-image: url("https://cdn-icons-png.flaticon.com/128/6378/6378368.png");
    width: 23px;
    height: 23px;
    background-size: cover;
    display: inline-block;
}
