body {
    font-family: sans-serif;
}
main {
    text-align: center;
}
h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 128, 0);
}
h3::after,h3::before {
    content: "";
    background-image: url("https://cdn-icons-png.flaticon.com/128/6378/6378368.png");
    width: 23pnline-block;
}
    height: 23px;
    background-size: cover;
    display: i
html,main,body,footer {
    background-color: rgb(255, 233, 190);
}
h3:first-child {
    border: 15px solid blue;
    height: -100px;
    background-color: darkblue;
    border-radius: 20px;
}
